* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bgVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    right: 0;  
    filter: brightness(1.2);
    z-index: -10;
}

.welcome {
    height: 66%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 1.5rem;
    gap: 5%;
} 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 100%;
}

.welcome-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.main-heading {
    height: 20%;
    font-size: 2.4em;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.content-para {
    height: 50%;
    font-size: 1.3em;
    text-align: center;
    padding: 0.4rem;
    margin: 0.2rem;
}

.btn-main {
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    background: linear-gradient(rgba(250, 0, 0, 0.5), rgba(107, 39, 0, 0.5));
    color: white;
    font-size: 1rem;
    border: 3px solid white;
    border-radius: 22px;
    text-decoration: none;
}

.btn-main:hover {
    padding: 0.8rem 1.1rem;
    box-shadow: 2px 2px 5px white;
    cursor: pointer;
    -webkit-box-shadow:2px 2px 5px white;
}

